 <!-- <div class=""> </div> -->

<span class="colophon">Foodhall, a public space.</span>
<%= link_to '<button>Back</button>'.html_safe, controller: 'welcome' %>

<br><br>

<div class="colophon">
<br>
  The Foodhall website operates with a trust economy.In foodhall the rule is that any event must be free, pay as you feel or suggested donation so anybody can attend. All food freecycled will be free by default. 
<br>
<br>
 There is no log in required and all events are democratically accessible and editable by all browsers. We think that free events and food should be shared without a social filter. We want to be a bit like wikipedia and similarly there will never be any paid advertising. 
<br>
 We have open access pc's in our physical spaces where all members of society can access and contacting members isn't restricted to email; you could include a telephone or even a person!
<br>
  	 The problems of food waste and social isolation are implicitly linked; and we believe that we can build a better society by sharing food, having communal dinners and making our spaces community spaces.
<br>
<br>
The big dream is that there is complete inclusion and the richest of our society and the poorest of our society, everyone eats at the same table share food equally.In our world there is enough for everyone so equality can only happen through the collective effort of sharing!
<br>
<br>
In regards to development the project is a simple experiment in open source. It will be openly and voluntarially developed by the community through feedback and github.
<br>
<br>
If you want to add or contribute to the project in some way other than by using the service please email:
foodhallproject@gmail.com </p></li>
  </div>
</div>


