<%= link_to '<button>Back</button>'.html_safe, controller: 'welcome' %>




<br><br>

<div class="colophon">
 <!-- <div class=""> </div> -->

<!--<span class="colophon">.</span>-->

<p><img alt="logo" src="/assets/how plenty works.jpg" /></p>

<!-- Lots of little changes soon add up. Plenty is a site where free Community events, Community diners and get togethers can be shared and made bigger. -->






<!--
It's not easy being new in the neighborhood, looking down the road and realising you know nobody on your street. It's equally have been here a while and feel a disconnect retirementcan bring. First time leavin home? New life with a child taking it's toll on your social life. -->

<!-- <br>
  The Foodhall website operates with a trust economy.In foodhall the rule is that any event must be free, pay as you feel or suggested donation so anybody can attend. All food freecycled will be free by default. 
<br>
<br>
 There is no log in required and all events are democratically accessible and editable by all browsers. We think that free events and food should be shared without a social filter. We want to be a bit like wikipedia and similarly there will never be any paid advertising. 
<br>
<br>
We also want to help all charititable organisations across sheffield share freecycle excess food easier. If you freecycle food on foodhall; charitable organisations will also be notified via email.

<br> 
 We have open access pc's in our physical spaces where all members of society can access and contacting members isn't restricted to email; you could include a telephone or even a person! This means that disadvantaged people aren't digitally excluded.
<br>
  	 The problems of food waste and social isolation are implicitly linked; and we believe that we can build a better society by sharing food, having communal dinners and making our spaces community spaces.
<br>
<br>
We live in our world there is enough for everyone but equality can only happen through the collective effort of sharing!The big dream is that there is complete inclusion and the richest of our society and the poorest of our society, everyone eats at the same table share food equally.
<br>
<br>
In regards to development the project is a simple experiment in open source. It will be openly and voluntarially developed by the community through feedback and github.Nothing is fixed and everything can change with feedback.
<br>
<br>
If you want to add or contribute to the project in some way other than by using the service please email:
foodhallproject@gmail.com </p></li>
  </div>
</div> -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75081313-1', 'auto');
  ga('send', 'pageview');

</script>
