
  <p>
    <strong>Commenter:</strong>
    <%= foodfreecyclecomment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= foodfreecyclecomment.body %>
  </p>

<p>
    <strong>Contact:</strong>
    <%= foodfreecyclecomment.contact %>
</p>

<p>
  <%= link_to 'Delete Comment', [foodfreecyclecomment.foodfreecycle, foodfreecyclecomment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>