<div id="content">

   <div class="wrap"> 
   <img alt="logo" src="/assets/logo.png" /> 

   <p>  Join the open table! </p>
 <p><%= link_to '<button>FoodFreecycle</button>'.html_safe, controller: 'foodfreecycles' %>
<%= link_to '<button>Foodie events</button>'.html_safe, controller: 'events' %>

</span></p> 
<br><%= link_to "About the project", "/static_pages/about" %>

</div>
 <p> No log in required. Open Access, moderation and use. </p> 
</div>



<!-- <div class="landing">
  <video src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Night-Traffic.mp4" autoplay muted loop></video>
</div> -->


