<h1>Editing event</h1>

<p> Everyone is an administrator and thus all information can be edited by any user of the website. </p>

<%= link_to '<button>Back</button>'.html_safe, foodfreecycles_path %>

<%= render 'form' %>

 